<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- metadata.name %></title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="speaker-container">
            <h1><%- metadata.topic %></h1>
            <div class="speaker-item">
                <img
                    class="speaker-img"
                    src="<%- metadata.profilepic %>"
                    alt="Photo of <%- metadata.name %>"
                />
                <div class="speaker-metadata">
                    <h3 class="speaker-title">SPEAKER</h3>
                    <h2><%- metadata.name %></h2>
                    <div class="speaker-metadata-tags">
                        <h3 class="metadata-tag">
                            <%- metadata.date %> • 3 min read
                        </h3>
                    </div>
                </div>
            </div>
            <div class="tags-container">
                <% metadata.tags.forEach((tag)=> { %>
                <p class="tag-item"><%-tag%></p>
                <% }) %>
            </div>
            <p class="desc"><%- metadata.desc %></p>
        </div>

        <div class="blogpost">
            <blockquote style="box-shadow: inset 3px 0 0 0 #242424; padding-left: 20px;">
                It's not the load that breaks you down, it's the way you carry
                it.
            </blockquote>

            <%- blogPost %>
        </div>
    </body>
</html>