<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- metadata.name %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark-dimmed.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body class="blogpost-body">
        <%- include ('../partials/header.ejs') %>
        <%- include ('../partials/overlay.ejs') %>
        <section class="speaker-container centered padding">
            <h1><%- metadata.topic %></h1>
            <section class="speaker-item">
                <img
                    class="speaker-img"
                    src="<%- metadata.profilepic %>"
                    alt="Photo of <%- metadata.name %>"
                />
                <section class="speaker-metadata">
                    <h3 class="speaker-title">SPEAKER</h3>
                    <h3 class="speaker-name"><%- metadata.name %></h3>
                    <section class="speaker-metadata-tags">
                        <h3 class="metadata">
                            <%- metadata.date %> • <%- estimatedReadingTime %>
                        </h3>
                    </section>
                </section>
            </section>
            <section class="tags-container">
                <% metadata.tags.forEach((tag)=> { %>
                <p class="tag-item metadata"><%-tag%></p>
                <% }) %>
            </section>
            <p class="desc"><%- metadata.desc %></p>
        </section>

        <section class="centered content padding">
            <%- blogPost %>
        </section>

        <%- include ('../partials/footer.ejs') %>

        <script src="/js/scripts.js"></script>
    </body>
</html>